# These files control which MySQL database is used, and should not
# overwrite what's set in another repository.  But we do want them
# included when creating a new repository.  Will this fail?
includes/bootstrap.inc
includes/bootstrap_curator.inc
#
# ViroBLAST temp files. 
viroblast/data/*
# ViroBLAST database specific
viroblast/blastresult.php
viroblast/viroblast.ini
# Other:
downloads/old
