# These files control which MySQL database is used, and should not
# overwrite what's set in another repository.  But we do want them
# included when creating a new repository.  Will this fail?
includes/bootstrap.inc
includes/bootstrap_curator.inc
#
# ViroBLAST temp files.  To be moved outside the repository.
viroblast/data
# Other:
downloads/old
