/*
	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution 2.5 License
*/

/* Basic */

*
{
	margin: 0em;
	padding: 0em;
}

h1,h2,h3,h4,h5,h6
{
	color: #444;
}

body,input
{
	font-family: tahoma, sans-serif;
	font-size: 10pt;
	color: #777;
}

input.button
{
	border-top: solid 1px #fff;
	border-left: solid 1px #fff;
	border-bottom: solid 1px #888;
	border-right: solid 1px #888;
	background-color: #eaeaea;
	color: #555;
	font-size: 0.8em;
	padding: 0.35em;
}

input.text
{
	border-top: solid 1px #888;
	border-left: solid 1px #888;
	border-bottom: solid 1px #fff;
	border-right: solid 1px #fff;
	padding: 0.1em;
	margin-top: 0.25em;
	margin-bottom: 0.5em;
}

a
{
	color: #558800;
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}

/* Outer */

#outer
{
	width: 100%;
}

/* Header */

#header
{
	background: #007799;
	padding: 0em 4.5em 0em 4.5em;
	height: 150px;
}

#header h2
{
	font-size: 0.8em;
	font-weight: normal;
	color: #FFFFFF;
	display: inline;
	padding-left: 0.5em;
}

#header h1
{
	font-size: 1.9em;
	display: inline;
	letter-spacing: -0.05em;
}

#header h1 a
{
	color: #FFFFFF;
	text-decoration: none;
}


/* Wrapper for the Title and Menu */

#headwrap {
	float: left;
	margin-left: 50px;
}

/* Title */

#title {
	padding-top: 1em;
}

/* Menu */

#menu {
	color: #fff;	
	margin-top: 5em;
	text-align: center;
}






/* Content */

#content
{
	clear: both;
	padding-left: 2em;
	padding-right: 2em;
}

.box
{
	margin-bottom: 1.25em;
}

.boxContent
{
	margin-top: 0.5em;
	padding: 1.25em 1em 0.25em 1em;
	background: #ffffff url('images/a1.gif') top left repeat-x;
}




/** boxA - login box **/

.boxA .boxContent
{
	background: #007799;
	margin-top: 0em;
	color: #fff;
	padding: 1em 1.5em 1em 1em;
	width: 140px;
	float: left;
}

.boxA span
{
	font-weight: bold;
	font-size: 0.8em;
}

.boxA a
{
	background-color: inherit;
	color: #fff;
	font-size: 0.8em;
}

.boxA a:hover
{
	text-decoration: none;
	border-bottom: solid 1px #ff9900;
}

.boxA input.button
{
	margin-top: 0.25em;
	vertical-align: middle;
}

.boxA input.text
{
	
}


/*background: #ff8800; */
/*background: #558800; */


/** boxB **/

.boxB .boxContent
{
	margin-top: 0em;
	color: #fff;
	border-bottom: solid 1px #004466;
	background: #ff8800;
	padding: 1em 1.5em 1em 1em;
}

.boxB span
{
	font-weight: bold;
	font-size: 0.8em;
}

.boxB a
{
	background-color: inherit;
	color: #fff;
	font-size: 0.8em;
}

.boxB a:hover
{
	text-decoration: none;
	border-bottom: solid 1px #007799;
}

.boxB input.button
{
	margin-top: 0.25em;
	vertical-align: middle;
}

.boxB input.text
{
	width: 100%;
}

/** Content **/

#content p
{
	margin-bottom: 1em;
	text-align: justify;
	line-height: 1.5em;
}

#content strong
{
	color: #444;
}

#content h2,h3,h4,h5,h6
{
}

#content h2,h3
{
}

#content h3
{
	font-size: 1.0em;
}

#content h2
{
	font-size: 1.25em;
}

#content ul
{
	margin-bottom: 1em;
	padding-left: 1em;
	line-height: 1.8em;
}

#content blockquote
{
	padding: 1em;
	margin-bottom: 1.5em;
	border-left: solid 6px #558800;
}

#content blockquote p
{
	margin-bottom: 0em;
	line-height: 1.5em;
}

#content table
{
	margin-bottom: 1.5em;
}

#content table th
{
	text-align: left;
	font-weight: bold;
	padding: 0.5em;
	color: #444;
}

#content table td
{
	padding: 0.5em;
}

#content table tr.rowA
{
	background-color: #efefef;
	color: inherit;
}

#content table tr.rowB
{
	background-color: #fafafa;
	color: inherit;
}

/* Primary Content */

#primaryContentContainer
{
	float: right;
	margin-left: -19em;
	width: 100%;
}

#primaryContent
{
	margin: 0em 0em 0em 15em;
	padding: 2.5em 2.5em 1.5em 2.5em;
}

/* Secondary Content */

#secondaryContent
{
	float: left;
	width: 13em;
	padding: 2.5em 2.5em 1.5em 2.5em;
}

/* Footer */

#footer
{
	border-top: solid 1px #e5e5e5;
	text-align: center;
	padding: 1.5em 0em 1.5em 0em;
}

.clear
{
	clear: both;
}
