.sm-clean {
  background: #eeeeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active {
  padding: 13px 20px;
  /* make room for the toggle button (sub indicator) */
  padding-right: 58px;
  /* color: #555555; */
  color: #9a292c;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Arial, sans-serif;
  /* font-size: 18px; */
  font-size: 16px;
  font-weight: normal;
  /* line-height: 17px; */
  line-height: 10px;
  text-decoration: none;
}
.sm-clean a.current {
  color: #d23600;
}
.sm-clean a.disabled {
  color: #bbbbbb;
}
.sm-clean a span.sub-arrow {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: auto;
  right: 4px;
  width: 34px;
  height: 34px;
  overflow: hidden;
  font: bold 16px/34px monospace !important;
  text-align: center;
  text-shadow: none;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.sm-clean a.highlighted span.sub-arrow:before {
  display: block;
  content: '-';
}
.sm-clean > li:first-child > a, .sm-clean > li:first-child > :not(ul) a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.sm-clean > li:last-child > a, .sm-clean > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul,
.sm-clean > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.sm-clean > li:last-child > a.highlighted, .sm-clean > li:last-child > *:not(ul) a.highlighted,
.sm-clean > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.sm-clean li {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.sm-clean > li:first-child {
  border-top: 0;
}
.sm-clean ul {
  background: rgba(162, 162, 162, 0.1);
}
.sm-clean ul a, .sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active {
  /* font-size: 16px; */
  font-size: 12px;
  border-left: 8px solid transparent;
}
.sm-clean ul ul a,
.sm-clean ul ul a:hover,
.sm-clean ul ul a:focus,
.sm-clean ul ul a:active {
  border-left: 16px solid transparent;
}
.sm-clean ul ul ul a,
.sm-clean ul ul ul a:hover,
.sm-clean ul ul ul a:focus,
.sm-clean ul ul ul a:active {
  border-left: 24px solid transparent;
}
.sm-clean ul ul ul ul a,
.sm-clean ul ul ul ul a:hover,
.sm-clean ul ul ul ul a:focus,
.sm-clean ul ul ul ul a:active {
  border-left: 32px solid transparent;
}
.sm-clean ul ul ul ul ul a,
.sm-clean ul ul ul ul ul a:hover,
.sm-clean ul ul ul ul ul a:focus,
.sm-clean ul ul ul ul ul a:active {
  border-left: 40px solid transparent;
}

@media (min-width: 768px) {
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-clean ul {
    position: absolute;
  }

  .sm-clean li {
    float: left;
    font-size: 1.7em
  }

  .sm-clean.sm-rtl li {
    float: right;
  }

  .sm-clean ul li, .sm-clean.sm-rtl ul li, .sm-clean.sm-vertical li {
    float: none;
  }

  .sm-clean a {
    white-space: nowrap;
  }

  .sm-clean ul a, .sm-clean.sm-vertical a {
    white-space: normal;
  }

  .sm-clean .sm-nowrap > li > a, .sm-clean .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }

  /* ...end */
  .sm-clean {
    padding: 0 10px;
    background: #eeeeee;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
  }
  .sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active, .sm-clean a.highlighted {
    /* padding: 12px 12px; */
    padding: 15px 8px;
    /* color: #555555; */
    color: white;
    /* background: #9a292c; */
    background: #de6536;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active, .sm-clean a.highlighted {
    color: white;
  }
  .sm-clean a.current {
    color: #d23600;
  }
  .sm-clean a.disabled {
    color: #bbbbbb;
  }
  .sm-clean a.has-submenu {
    padding-right: 24px;
  }
  .sm-clean a span.sub-arrow {
    top: 50%;
    margin-top: -2px;
    right: 12px;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid dashed dashed dashed;
    /* border-color: #555555 transparent transparent transparent; */
    border-color: #ffffff transparent transparent transparent;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  .sm-clean a.highlighted span.sub-arrow:before {
    display: none;
  }
  .sm-clean li {
    border-top: 0;
  }
  .sm-clean > li > ul:before,
  .sm-clean > li > ul:after {
    content: '';
    position: absolute;
    top: -18px;
    left: 30px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 9px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #bbbbbb transparent;
  }
  .sm-clean > li > ul:after {
    top: -16px;
    left: 31px;
    border-width: 8px;
    border-color: transparent transparent white transparent;
  }
  .sm-clean ul {
    border: 1px solid #bbbbbb;
    padding: 5px 0;
    background: white;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
  }
  .sm-clean ul a, .sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active, .sm-clean ul a.highlighted {
    border: 0 !important;
    /* padding: 10px 20px; */
    padding: 5px 10px;
    /* color: #555555; */
    color: white;
  }
  .sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active, .sm-clean ul a.highlighted {
    background: #eeeeee;
    color: #d23600;
  }
  .sm-clean ul a.current {
    color: #d23600;
  }
  .sm-clean ul a.disabled {
    background: white;
    color: #cccccc;
  }
  .sm-clean ul a.has-submenu {
    padding-right: 20px;
  }
  .sm-clean ul a span.sub-arrow {
    right: 8px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: dashed dashed dashed solid;
    /* border-color: transparent transparent transparent #555555; */
    border-color: transparent transparent transparent #ffffff;
  }
  .sm-clean span.scroll-up,
  .sm-clean span.scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: white;
    height: 20px;
  }
  .sm-clean span.scroll-up:hover,
  .sm-clean span.scroll-down:hover {
    background: #eeeeee;
  }
  .sm-clean span.scroll-up:hover span.scroll-up-arrow, .sm-clean span.scroll-up:hover span.scroll-down-arrow {
    border-color: transparent transparent #d23600 transparent;
  }
  .sm-clean span.scroll-down:hover span.scroll-down-arrow {
    border-color: #d23600 transparent transparent transparent;
  }
  .sm-clean span.scroll-up-arrow, .sm-clean span.scroll-down-arrow {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 6px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #555555 transparent;
  }
  .sm-clean span.scroll-down-arrow {
    top: 8px;
    border-style: solid dashed dashed dashed;
    border-color: #555555 transparent transparent transparent;
  }
  .sm-clean.sm-rtl a.has-submenu {
    padding-right: 12px;
    padding-left: 24px;
  }
  .sm-clean.sm-rtl a span.sub-arrow {
    right: auto;
    left: 12px;
  }
  .sm-clean.sm-rtl.sm-vertical a.has-submenu {
    padding: 10px 20px;
  }
  .sm-clean.sm-rtl.sm-vertical a span.sub-arrow {
    right: auto;
    left: 8px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #555555 transparent transparent;
  }
  .sm-clean.sm-rtl > li > ul:before {
    left: auto;
    right: 30px;
  }
  .sm-clean.sm-rtl > li > ul:after {
    left: auto;
    right: 31px;
  }
  .sm-clean.sm-rtl ul a.has-submenu {
    padding: 10px 20px !important;
  }
  .sm-clean.sm-rtl ul a span.sub-arrow {
    right: auto;
    left: 8px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #555555 transparent transparent;
  }
  .sm-clean.sm-vertical {
    padding: 10px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
  .sm-clean.sm-vertical a {
    padding: 10px 20px;
  }
  .sm-clean.sm-vertical a:hover, .sm-clean.sm-vertical a:focus, .sm-clean.sm-vertical a:active, .sm-clean.sm-vertical a.highlighted {
    background: white;
  }
  .sm-clean.sm-vertical a.disabled {
    background: #eeeeee;
  }
  .sm-clean.sm-vertical a span.sub-arrow {
    right: 8px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #555555;
  }
  .sm-clean.sm-vertical > li > ul:before,
  .sm-clean.sm-vertical > li > ul:after {
    display: none;
  }
  .sm-clean.sm-vertical ul a {
    padding: 10px 20px;
  }
  .sm-clean.sm-vertical ul a:hover, .sm-clean.sm-vertical ul a:focus, .sm-clean.sm-vertical ul a:active, .sm-clean.sm-vertical ul a.highlighted {
    background: #eeeeee;
  }
  .sm-clean.sm-vertical ul a.disabled {
    background: white;
  }
}

body
{
    background: #f9cb73;
    font-family: arial, helvetica, sans-serif;
    font-size: 62.5%; /* 1 em = 10px */
}
div.section p
{
    color: #000;
    font-weight: normal
}

/***** Links/Anchors **********************************************************/
a
{
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000
}
a:hover
{
    color:#4DAAB1;
    border-bottom-color: #4DAAB1
}

footer a
{
    color: #000;
    border: none
}
footer a:hover
{
    color: #9a292c
}

/***** Layout *****************************************************************/
#container
{
    clear: left; 
}

/* dynamic image replacement */
html>body #logo
{
    letter-spacing: normal;
    text-indent: -999em;
    overflow: hidden
}
#logo
{
    height: 30px;
    background: url('images/logo.png') no-repeat
}
#util
{
    clear: left;
    height: 30px;
}
#util, #utilright
{
    width: 4px;
    text-align: center;
    background-position: center; 
}
#util, #util  a
{
    color: #fff;
}
#quicklinks
{
    background: white;
}
#quicklinks h2
{
    color: #de5414;
    text-align: left;
}
#quicklinks ul, #nav ul
{
    list-style: none;
    padding: 5px;
}
#quicklinks li
{
    margin: 0;
    padding: 0 0 5px;
}
#whatsnew
{
    padding: 0px;
}
#whatsnew ul
{
    list-style: none;
    padding: 5px;
}
#primaryContent h2
{
    color: #de5414;
    text-align: left;
}
.section
{
    background: white;
}

@media (min-width: 768px) {
#logo
{
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    width: 318px;
    height: 50px;
    top: 40px;
    left: 10px;
    background: url('images/logo.png') no-repeat
}

#container
{
    min-width: 100%;
    top: 0;
    position:absolute;
    background: #fff url('images/headbg.jpg') repeat-x
}

#barleyimg
{
    position: absolute;
    right: 0;
    width: 225px;
    height: 141px;
    background: url('images/headrt.png') no-repeat
}

#util {
    position: absolute;
    right: 200px;
    width: 100px;
    height: 26px;
    background: url('images/utilbg.jpg') no-repeat;
    text-align: center;
    line-height: 26px;
    margin: 0 auto;
    padding-left: 4px;
    font-size: 1.2em
}
#utilright
{
    float: right;
    width: 4px;
    height: 26px;
    background: url('images/utilright.jpg') no-repeat
}

#quicklinks
{
    position: absolute;
    top: 141px;
    left: 10px;
    width: 150px;
    margin-top: 15px;
    padding: 15px 25px;
    text-align: left;
    background: url('images/gradient.png') repeat-x;
    border-top: 1px solid #9a292c;
    z-index: 0
}

#searchbox
{
    width: 180px;
    padding: 15px 10px 3px;
    margin-left: -25px;
    margin-top: 25px;
    background-color: #f9cb73;
    border-bottom: 1px solid #9a292c;
    text-align:right
}

header
{
    color: white;
    font-size: +1
}

footer
{
    margin-left: 230px;
    margin-top: 50px;
    padding-top: 25px;
    background: #f9cb73 url('images/foothdg.png') repeat-x;
    text-align: center;
    clear: both;
}
#quicklinks h2
{
    color: #de5414;
    margin: 0 0 5px;
    padding: 0;
    font-size: 1.6em
}
#quicklinks ul, #nav ul
{
    list-style:none;
    margin:0;
    padding:0
}

#quicklinks li
{
    margin: 0;
    padding: 0 0 5px;
    font-size: 1.2em
}

#util, #util a
{
    color: #fff;
    text-decoration: none
}

#util a
{
    vertical-align: middle;
    border-bottom: 1px solid #9a292c
}

#searchbox, #searchbox a
{
    color: #fff
}
#searchbox a
{
    border:none
}
#searchbox a:hover, #util a:hover
{
    border-bottom: 1px solid #fff
}

#searchbox input
{
    border:1px solid #9a292c;
    background-color: #fff;
    padding:5px;
    color:#9a292c;
    font-size: .9em
}

#main h1, #main h2
{
    color:#de5414;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    margin-bottom: 1em
}

/* dem mar12: Set a minimum height to allow room for What's New. */
#main {
    float: left;
    min-height: 450px;
    margin-right: 10px;
    margin-top: 65px;
    margin-left: 245px;
    font-size: 1.2em
}
#nav {position:absolute; top:88px; left:0px; height:42px;
    padding-left:0px;z-index:5999}
}

.section, .boxContent {width: auto; padding:12px; border-top:1px solid #9a292c;
    background:url('images/sectionhd.png') repeat-x;}
.section p, .boxContent p{margin:1.5em 0; line-height:1.5em}

.descript {margin-top:8px}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

table
{
    background: url('images/tblbg.png') repeat-x;
    border-collapse: collapse;
}

table th
{
    border-bottom: 1px solid #9a292c;
    border-top: 1px solid #9a292c;
    background: url('images/tblhdg.png') repeat-x;
    padding: 7px;
    color: #9a292c;
}
table td
{
    border: 1px solid #E3E0FF;
    border-left: 0;
    border-right: 0;
    padding: 7px;
    text-align: left;
}

table.tableclass1 th {
    background: #5B53A6 !important;
    color: white !important;
    border-left: 2px solid #5B53A6;
}
table.tableclass1 table {
    background: none;
    border-collapse: collapse;
}
table.tableclass1 td {
    border: 1px white;
    border-left: 0;
    border-right: 0;
    background: white;
}
