/* 
 * The Hordeum Toolbox 
 * Layout v.1
 */

/*
 * Theme/Layout Styles
 */
body {
	background: #F4F9FF;
	margin-top: 0;
}

#pagewrap {
	text-align: center;
	width: 75%;
}

h1, h2, h3 {
}

table td.dark {
	background: #90AEC2;
	color: #FFFFFF;
}

table td.medium {
	background: #BCCDDC;
}

table td.light {
	background: #E9F1FF;
}

.tbox {
	background: #E9F1FF;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

.tbox td, #searchbox td {
	border: thin solid #000000;
	padding: 5px;
}

#searchbox {
	background: #E9F1FF;
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

.left {
	text-align: left;
}


/* 
 * Generic Box
 */

.box {
	background: #E9F1FF;
	border: thin solid black;
	text-align: center;
}

.box table td {
	padding: 5px;
}

/* 
 * Small Box Classes
 */

.formBox {
	margin-left: 18%;
	text-align: left;
}


/* 
 * Big Box Classes
 */

.previewBig {
	border-collapse: collapse;
	margin-top: 0;
	margin-left: -10%;
	margin-bottom: 0;
}

.previewMedium {
	border-collapse: collapse;
	margin-top: 0;
	margin-left: -5%;
	margin-bottom: 0;
}

.previewBig td, .previewMedium td, .generic input {
	border: thin solid black;
}

/*
 * Generic Table with left aligned cells
 */
.generic {
	border: thin solid black;
	border-collapse: collapse;
	margin-top: 0;
	margin-bottom: 0;
}

.generic td {
	border: thin solid black;
}

.blend input {
	background: #F4F9FF;
	border-collapse: collapse;
}

/* 
 * Error Classes
 */
.error {
	color: #FF0000;
	font-weight: bold;
}
